body{
    background-color: black;
    color: white;
}
h3{
    font-style: oblique;
}
section{
    font-style: inherit;
    font-size: 12pt;
    text-align: justify;
}
footer{
    text-align: center; 
}